<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--&lt;!&ndash;&lt;!&ndash;管理员&ndash;&gt;&ndash;&gt;-->
    <servlet>
        <servlet-name>GuanliYuan</servlet-name>
        <servlet-class>book.servlet1.GuanliYuan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuanliYuan</servlet-name>
        <url-pattern>/GuanliYuan</url-pattern>
    </servlet-mapping>
    <!--书信息servlet-->
    <servlet>
        <servlet-name>BookSelectServlet</servlet-name>
        <servlet-class>book.servlet1.BookSelectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookSelectServlet</servlet-name>
        <url-pattern>/BookSelectServlet</url-pattern>
    </servlet-mapping>
    <!--全部书信息-->
    <servlet>
        <servlet-name>BookSelectAllServlet</servlet-name>
        <servlet-class>book.servlet1.BookSelectAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookSelectAllServlet</servlet-name>
        <url-pattern>/BookSelectAllServlet</url-pattern>
    </servlet-mapping>
    <!--书籍详情-->
    <servlet>
        <servlet-name>BookDetailServlet</servlet-name>
        <servlet-class>book.servlet1.BookDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookDetailServlet</servlet-name>
        <url-pattern>/BookDetailServlet</url-pattern>
    </servlet-mapping>

    <!--添加书籍-->
    <servlet>
        <servlet-name>BookInsertServlet</servlet-name>
        <servlet-class>book.servlet1.BookInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookInsertServlet</servlet-name>
        <url-pattern>/BookInsertServlet</url-pattern>
    </servlet-mapping>

    <!--重置书籍信息-->
    <servlet>
        <servlet-name>ResetBookServlet</servlet-name>
        <servlet-class>book.servlet1.ResetBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetBookServlet</servlet-name>
        <url-pattern>/ResetBookServlet</url-pattern>
    </servlet-mapping>
    <!--更新书籍信息-->
    <servlet>
    <servlet-name>BookUpdateServlet</servlet-name>
    <servlet-class>book.servlet1.BookUpdateServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>BookUpdateServlet</servlet-name>
        <url-pattern>/BookUpdateServlet</url-pattern>
    </servlet-mapping>
    <!--根据编号查询书籍-->
    <servlet>
        <servlet-name>BookSelectbookNumServlet</servlet-name>
        <servlet-class>book.servlet1.BookSelectbookNumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookSelectbookNumServlet</servlet-name>
        <url-pattern>/BookSelectbookNumServlet</url-pattern>
    </servlet-mapping>
    <!--删除书籍-->
    <servlet>
        <servlet-name>BookDeleteServlet</servlet-name>
        <servlet-class>book.servlet1.BookDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookDeleteServlet</servlet-name>
        <url-pattern>/BookDeleteServlet</url-pattern>
    </servlet-mapping>

    <!--非书籍selectAll-->
    <servlet>
        <servlet-name>NoBookServlet</servlet-name>
        <servlet-class>book.servlet1.NoBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoBookServlet</servlet-name>
        <url-pattern>/NoBookServlet</url-pattern>
    </servlet-mapping>
    <!--更新出版社信息-->
    <servlet>
        <servlet-name>PublishUpdateServlet</servlet-name>
        <servlet-class>book.servlet1.PublishUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublishUpdateServlet</servlet-name>
        <url-pattern>/PublishUpdateServlet</url-pattern>
    </servlet-mapping>
    <!--查询出版社信息-->
    <servlet>
        <servlet-name>PublishSelectServlet</servlet-name>
        <servlet-class>book.servlet1.PublishSelectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublishSelectServlet</servlet-name>
        <url-pattern>/PublishSelectServlet</url-pattern>
    </servlet-mapping>
    <!--增加出版社信息-->
    <servlet>
        <servlet-name>PublishInsertServlet</servlet-name>
        <servlet-class>book.servlet1.PublishInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublishInsertServlet</servlet-name>
        <url-pattern>/PublishInsertServlet</url-pattern>
    </servlet-mapping>
    <!--删除出版社信息-->
    <servlet>
        <servlet-name>PublishDeleteServlet</servlet-name>
        <servlet-class>book.servlet1.PublishDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublishDeleteServlet</servlet-name>
        <url-pattern>/PublishDeleteServlet</url-pattern>
    </servlet-mapping>

    <!--增加writer信息-->
    <servlet>
        <servlet-name>WriterInsertServlet</servlet-name>
        <servlet-class>book.servlet1.WriterInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriterInsertServlet</servlet-name>
        <url-pattern>/WriterInsertServlet</url-pattern>
    </servlet-mapping>
    <!--删除writer信息-->
    <servlet>
        <servlet-name>WriterDeleteServlet</servlet-name>
        <servlet-class>book.servlet1.WriterDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriterDeleteServlet</servlet-name>
        <url-pattern>/WriterDeleteServlet</url-pattern>
    </servlet-mapping>
    <!--更新writer信息-->
    <servlet>
        <servlet-name>WriterUpdateServlet</servlet-name>
        <servlet-class>book.servlet1.WriterUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriterUpdateServlet</servlet-name>
        <url-pattern>/WriterUpdateServlet</url-pattern>
    </servlet-mapping>
    <!--增加BigClass-->
    <servlet>
        <servlet-name>BigClassInsertServlet</servlet-name>
        <servlet-class>book.servlet1.BigClassInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BigClassInsertServlet</servlet-name>
        <url-pattern>/BigClassInsertServlet</url-pattern>
    </servlet-mapping>
    <!--删除bigClass信息-->
    <servlet>
        <servlet-name>BigClassDeleteServlet</servlet-name>
        <servlet-class>book.servlet1.BigClassDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BigClassDeleteServlet</servlet-name>
        <url-pattern>/BigClassDeleteServlet</url-pattern>
    </servlet-mapping>
    <!--更新BigClass信息-->
    <servlet>
        <servlet-name>BigClassUpdateServlet</servlet-name>
        <servlet-class>book.servlet1.BigClassUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BigClassUpdateServlet</servlet-name>
        <url-pattern>/BigClassUpdateServlet</url-pattern>
    </servlet-mapping>
    <!--查找bigClass信息NoBookServlet-->
    <!--小类增加-->
    <servlet>
        <servlet-name>SmallClassInsertServlet</servlet-name>
        <servlet-class>book.servlet1.SmallClassInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmallClassInsertServlet</servlet-name>
        <url-pattern>/SmallClassInsertServlet</url-pattern>
    </servlet-mapping>
    <!--小类删除-->
    <servlet>
        <servlet-name>SmallClassDeleteServlet</servlet-name>
        <servlet-class>book.servlet1.SmallClassDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmallClassDeleteServlet</servlet-name>
        <url-pattern>/SmallClassDeleteServlet</url-pattern>
    </servlet-mapping>
    <!--小类更改-->
    <servlet>
        <servlet-name>SmallClassupdateServlet</servlet-name>
        <servlet-class>book.servlet1.SmallClassupdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmallClassupdateServlet</servlet-name>
        <url-pattern>/SmallClassupdateServlet</url-pattern>
    </servlet-mapping>
    <!--小类查找：NoBookServlet-->
    <!--增加买家信息-->
    <servlet>
        <servlet-name>BuyerInsertServlet</servlet-name>
        <servlet-class>orderBuyer.servlet.buyer.BuyerInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyerInsertServlet</servlet-name>
        <url-pattern>/BuyerInsertServlet</url-pattern>
    </servlet-mapping>
    <!--注册-->
    <servlet>
        <servlet-name>BuyerLoginServlet</servlet-name>
        <servlet-class>orderBuyer.servlet.buyer.BuyerLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyerLoginServlet</servlet-name>
        <url-pattern>/BuyerLoginServlet</url-pattern>
    </servlet-mapping>
    <!--个人信息-->

    <servlet>
        <servlet-name>BuyerUserServlet</servlet-name>
        <servlet-class>orderBuyer.servlet.buyer.BuyerUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyerUserServlet</servlet-name>
        <url-pattern>/BuyerUserServlet</url-pattern>
    </servlet-mapping>
    <!--会员列表-->
    <servlet>
        <servlet-name>BuyerListServlet</servlet-name>
        <servlet-class>orderBuyer.servlet.buyer.BuyerListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyerListServlet</servlet-name>
        <url-pattern>/BuyerListServlet</url-pattern>
    </servlet-mapping>
    <!--更新个人信息-->
    <servlet>
        <servlet-name>BuyerUpdateServlet</servlet-name>
        <servlet-class>orderBuyer.servlet.buyer.BuyerUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyerUpdateServlet</servlet-name>
        <url-pattern>/BuyerUpdateServlet</url-pattern>
    </servlet-mapping>
    <!--升级会员-->
    <servlet>
        <servlet-name>BuyerLeverUpServlet</servlet-name>
        <servlet-class>orderBuyer.servlet.buyer.BuyerLeverUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyerLeverUpServlet</servlet-name>
        <url-pattern>/BuyerLeverUpServlet</url-pattern>
    </servlet-mapping>
    <!--订单列表-->
    <servlet>
        <servlet-name>OrderFindAllServlet</servlet-name>
        <servlet-class>orderBuyer.servlet.order.OrderFindAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderFindAllServlet</servlet-name>
        <url-pattern>/OrderFindAllServlet</url-pattern>
    </servlet-mapping>
    <!--删除订单-->
    <servlet>
        <servlet-name>OrderDeleteServlet</servlet-name>
        <servlet-class>orderBuyer.servlet.order.OrderDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDeleteServlet</servlet-name>
        <url-pattern>/OrderDeleteServlet</url-pattern>
    </servlet-mapping>
    <!--查询某个用户的订单-->
    <servlet>
        <servlet-name>OrderSelectServlet</servlet-name>
        <servlet-class>orderBuyer.servlet.order.OrderSelectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderSelectServlet</servlet-name>
        <url-pattern>/OrderSelectServlet</url-pattern>
    </servlet-mapping>
    <!--&lt;!&ndash;&lt;!&ndash;添加新的订单&ndash;&gt;&ndash;&gt;-->
    <servlet>
        <servlet-name>OrderInsertServlet</servlet-name>
        <servlet-class>orderBuyer.servlet.order.OrderInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderInsertServlet</servlet-name>
        <url-pattern>/OrderInsertServlet</url-pattern>
    </servlet-mapping>
    <!--&lt;!&ndash;&lt;!&ndash;更新买家信息&ndash;&gt;&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>BuyerUpdateServlet</servlet-name>-->
        <!--<servlet-class>orderBuyer.servlet.buyer.BuyerUpdateServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>BuyerUpdateServlet</servlet-name>-->
        <!--<url-pattern>/BuyerUpdateServlet</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--&lt;!&ndash;&lt;!&ndash;返回所有营业额&ndash;&gt;&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>OrderAllTurnoverServlet</servlet-name>-->
        <!--<servlet-class>orderBuyer.servlet.order.OrderAllTurnoverServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>OrderAllTurnoverServlet</servlet-name>-->
        <!--<url-pattern>/OrderAllTurnoverServlet</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--&lt;!&ndash;&lt;!&ndash;查询某一个订单号的详细信息&ndash;&gt;&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>OrderDetServlet</servlet-name>-->
        <!--<servlet-class>orderBuyer.servlet.order.OrderDetServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>OrderDetServlet</servlet-name>-->
        <!--<url-pattern>/OrderDetServlet</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--&lt;!&ndash;&lt;!&ndash;管理员查询所有订单列表&ndash;&gt;&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>OrderFindAllServlet</servlet-name>-->
        <!--<servlet-class>orderBuyer.servlet.order.OrderFindAllServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>OrderFindAllServlet</servlet-name>-->
        <!--<url-pattern>/OrderFindAllServlet</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--&lt;!&ndash;&lt;!&ndash;查询某个用户的订单列表&ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;返回某个用户的总消费额&ndash;&gt;&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>OrderSomeoneTurnoverServlet</servlet-name>-->
        <!--<servlet-class>orderBuyer.servlet.order.OrderSomeoneTurnoverServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>OrderSomeoneTurnoverServlet</servlet-name>-->
        <!--<url-pattern>OrderSomeoneTurnoverServlet</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--&lt;!&ndash;&lt;!&ndash;大类查询&ndash;&gt;&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>BigClassSelectServlet</servlet-name>-->
        <!--<servlet-class>smallBigclass.bigClass.BigClassSelectServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>BigClassSelectServlet</servlet-name>-->
        <!--<url-pattern>/BigClassSelectServlet</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--&lt;!&ndash;&lt;!&ndash;出版社查询&ndash;&gt;&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>PublishSelectServlet</servlet-name>-->
        <!--<servlet-class>smallBigclass.publish.PublishSelectServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>PublishSelectServlet</servlet-name>-->
        <!--<url-pattern>/PublishSelectServlet</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--&lt;!&ndash;&lt;!&ndash;小类查询&ndash;&gt;&ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>SmallClassSelectServlet</servlet-name>-->
        <!--<servlet-class>smallBigclass.smallClass.SmallClassSelectServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>SmallClassSelectServlet</servlet-name>-->
        <!--<url-pattern>/SmallClassSelectServlet</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>